<div class="main">
    <div class="header-main">
        <div class="header">
            <a href=""><i class="fa-solid fa-house"></i></a>
            <a href=""><p>Alójate</p></a>
        </div>
        <div class="header-2">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href=""><i class="fa-solid fa-bars"></i></a>
        </div>
    </div>
    <hr>
    <div class="menu">
        <a href="">Home</a>
        <a href="">Booking</a>
        <a href="">House</a>
        <a href="">Pagos</a>
        <a href="">About</a>
    </div>
    <div class="main-text">
        <h1>ESTANCIAS</h1>
        <h2>MÁS DETALLES</h2>
    </div>
</div>