<div class="container">
    <h1>QUÉ DEBER SABER</h1>
    <div class="reglas">
        <div class="puntos">
            <h2>REGLAS DE LA CASA</h2>
            <li>LLEGADA A PARTIR DE LAS 3:00 PM</li>
            <li>SALIDA ANTES DE LAS 1:00 PM</li>
            <li>NO SE ADMITEN MASCOTAS</li>
            <a href="">SABER MÁS></a>
        </div>
        <div class="puntos">
            <h2>SEGURIDAD Y PROPIEDAD</h2>
            <li>NO HAY ALARMA DE HUMO</li>
            <li>ALBERCA/JACUZZI SIN REJA NI PUERTA <br> CON LLAVE</li>
            <li>NO SE REQUIERE DETECTOR DE <br> MONÓXIDO DE CARBONO</li>
            <a href="">SABER MÁS></a>
        </div>
        <div class="puntos">
            <h2>POLÍTICAS DE CANCELACIÓN</h2>
            <li>SI CANCELAS ANTES DE LA FECHA DE <br> LLEGADA (5 ENE.), RECIBIRÁS UN <br> REEMBOLSO PARCIAL</li>
            <li>PASADO ESE PLAZO, TU REEMBOLSO <br> DEPENDERÁ DE CUÁNDO CANCELES </li>
            <a href="">SABER MÁS></a>
        </div>
    </div>
</div>