<h1>ESTANCIAS</h1>
<div class="main-card">
    <div class="cards">
        <img src="/ESTANCIA 1.png" alt="">
        <h2>ADOSADO COLORIDO</h2>
        <p>DESCANSAR Y RETIRARSE EN UNA</p>
        <p>CASA CON LA MEJOR COMODIDAD</p>
    </div>
    <div class="cards">
        <img src="/ESTANCIA 2.png" alt="">
        <h2>PLAZA BONANZA</h2>
        <p>MIRA EL OCÉANO, ESCUCHA LAS OLAS</p>
        <p>Y DISFRUTA DEL MAR</p>
    </div>
    <div class="cards">
        <img src="/ESTANCIA 3.png" alt="">
        <h2>SANTUARIO ANTIGUO</h2>
        <p>ENCUENTRA LA CASA DE TUS SUEÑOS</p>
        <p>CERCA DEL COLEGIO Y DE TU OFICINA</p>
    </div>
</div>