<div class="info">
    <div class="datos">
        <h1>ALOJAMIENTO ENTERO</h1>
        <h2 [innerHTML]="user.ubicacion"></h2>
    </div>
    <div class="datos" id="datos-i">
        <h1>MÁS DE 16 HUÉSPEDES</h1>
        <div class="iconos">
            <li><i class="fa-solid fa-bed"></i><h2>6 HABITACIONES</h2></li>
            <li><i class="fa-solid fa-bath"></i><h2>6 BAÑOS</h2></li>
        </div>
    </div>
    <div class="datos">
        <h1>ANFITRIÓN:</h1>
        <h2 [innerHTML]="user.name"></h2>
        <h2 [innerHTML]="user.experiencia"></h2>
    </div>
</div>